.resume__label {
    font-size: 1.25rem;
    font-weight: 900;
    font-family: $roboto;
    color: $pink;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 2rem;
}

.resume__item {
    margin: 2rem 0;
}

.resume__item-headline {
    font-family: $lato;
    font-size: 1.5rem;
    color: $charcoal;
    margin-bottom: 0.25rem;
    margin-top: 0rem;
}

.resume__item-date {
    color: $grey;
    font-style: italic;
}

.resume__item-list {
    padding-left: 0.85rem;

    li {
        line-height: 1.6;
    }
}

.resume__item-detail {
    font-size: 1.15rem;
    font-weight: 600;
    font-family: $lato;
    margin: 1rem 0 0;
    display: inline-block;
}