// Global settings for colors and typography

// Colors
$purple: #7800EB;
$light-purple: #9A00F3;
$teal: #00F1B2;

$hot-pink: #FF0056;
$light-pink: #FFC5D5;
$cotton-candy: #FEA9C1;

$black: #000000;
$charcoal: #333333;
$grey: #999999;
$white: #FFFFFF;

$primary-color: $hot-pink;
$secondary-color: $light-pink;

// Typography
$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;

// Breakpoints
$breakpoints: (
    small: 0px,
    medium: 640px,
    large: 1024px,
);

p {
    font-family: $lato;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1.5rem;

    @include breakpoint(medium) {
        margin-bottom: 1rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $roboto;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 0;

    @include breakpoint(medium) {
        font-size: 2.5rem;
        line-height: 1.8;
    }
}
