@import 'settings';

.card__wrapper {
	text-decoration: none;
}

.card {
	box-shadow: 4px 15px 48px -6px rgba(1,15,14,0.25);
	border: 20px solid white;
	transition: all 250ms ease-in-out;
	overflow: hidden;
	margin: 1rem 0;

	&:hover {
		box-shadow: 4px 15px 48px -6px rgba(1,15,14,0.4);

		.card__image {
			transform: scale(1.05);
			opacity: 0.8;
		}
	}

	p {
		color: $black;
	}
}

.card__title {
	color: $charcoal;
	font-family: $abril;
	font-size: 1.35rem;
	text-decoration: none;
	margin: 0.5rem 0 0 0;
}

.card__image {
	height: 12rem;
	background-size: cover;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    transition: transform 250ms ease-in-out, opacity 50ms ease;
}

.card__copy {
	height: 230px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;

	p {
		font-size: 0.85rem;
		margin: 0.5rem 0;
	}
}

.card__category {
	font-family: $open-sans;
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	font-size: 0.75rem;
	display: inline-block;
	background-color: $primary-color;
	border-radius: 15px;
	padding: 0.5rem 1rem;
}

.card__more {
	color: $primary-color;
	font-family: $open-sans;
	font-size: 0.9rem;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 1;
}
