@import 'settings';

.card__wrapper {
	text-decoration: none;
}

.card {
	margin: 2rem;
	box-shadow: 4px 15px 48px -6px rgba(1,15,14,0.25);
	border: 12px solid white;
	transition: all 250ms ease-in-out;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 4px 15px 48px -6px rgba(1,15,14,0.4);
	}
}

.card__title {
	color: $charcoal;
	text-align: center;
	font-family: $playfair;
	font-size: 1.25rem;
	text-decoration: none;
}

.card__image {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.card__category {
	font-family: $open-sans;
	color: $charcoal;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
