@import 'settings';

.footer {
    background: $charcoal;
    color: $white;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    i {
        display: inline-block;
    }
}

.footer__text {
    font-family: $open-sans;
    font-size: 0.9rem;
    color: $white;
    letter-spacing: 1px;
}

.footer__icon {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
}

.footer__link {
    text-decoration: none;
    color: $white;
    transition: all 250ms ease;

    &:hover {
        color: $primary-color;
    }
}
