.gradient {
  display: inline-block;
  font-family: $open-sans;
  font-weight: 900;
  font-size: 2rem;
  background: linear-gradient(to right, #FEA9C1, #FF0056);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient--large {
    font-size: 2rem;

    @include breakpoint(large) {
        font-size: 3rem;
    }
}
