@import 'settings';

.hero {
	color: $white;

	@include breakpoint(medium) {
		display: flex;
	}
}

.hero__left {
	width: 100%;
	background-image: url('/assets/img/office.jpg');
	background-size: cover;
	background-position: bottom center;
	min-height: 10rem;

	@include breakpoint(medium) {
		width: 60%;
	}
}

.hero__right {
	width: 100%;
	background-image: linear-gradient(to right, #fc1c48, #D60257);

	@include breakpoint(medium) {
		width: 40%;
		padding: 4rem 5rem 4rem 4rem;
	}
}

.hero__right-content {
	padding: 2rem;

	@include breakpoint(medium) {
		padding: 0;
	}
}

.hero__title {
	font-size: 2rem;
	line-height: 1;
	margin-bottom: 2rem;
}

.hero__desc {
	font-family: $open-sans;
	font-size: 1rem;
	letter-spacing: 1px;
	margin: 0;
	margin-bottom: 4rem;
	width: 80%;
}
