.link {
    color: $secondary-color;
    text-decoration: none;
    font-weight: 900;

    display: inline-block;

    &:after {
        content: '';
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width 500ms ease, background-color 500ms ease;
    }

    &:hover:after {
        width: 100%;
        background: $primary-color;
    }
}