@import 'settings';

.nav {
    background: $white;
    padding: 1rem 0;
    font-family: $roboto;
    font-weight: 300;
    text-align: center;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
        padding: 2rem 4rem;
        height: 6rem;
    }
}

.nav__logo {
    float: left;

    .nav__logo-img {
        width: 18rem;
        margin-bottom: 1rem;
    }
}

.nav__items {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    display: inline-block;

    a {
        color: $charcoal;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1rem;
        margin: 0.5rem;
        text-decoration: none;
        background-position: 0 0.6rem;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position-y: 12px;
        background-position-x: 0;
        transition: background-position .08s ease-out;
        background-image: linear-gradient(180deg,transparent 0,$cotton-candy 0);

        &:hover {
            background-image: linear-gradient(180deg,transparent 0,$cotton-candy 0);
            background-position-y: 0;
        }

        @include breakpoint(medium) {
            margin: 2rem;
        }
    }
}

.nav__link--active {
    a {
        background-color: $cotton-candy;
    }
}

.nav__logo {

}