.photo {
    width: 100%;
}

.photo__wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;

    @include breakpoint(large) {
        width: 80%;
        margin-bottom: 5rem;
    }
}

.photo__frame {
    @include breakpoint(medium) {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $white;
        border: 10px solid $primary-color;
        z-index: -1;
        transition: all 250ms ease-in-out;
        transition-property: top, right;
        top: 15px;
        right: 5px;
    }
}