@import 'settings';

.post {
	h2 {
		margin-bottom: 0;
		margin-top: 2rem;
	}

	a {
		@extend .link;
	}
}
.post__header {
    height: 60vh;
    min-height: 400px;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

.post__content {
	padding: 3rem 0;
}

.post__info {
	z-index: 1;
}

.post__author {
	font-family: $open-sans;
	font-size: 1rem;
	font-style: italic;
}

.post__category {
	color: $white !important;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 0.35rem;
	transition: padding-bottom 150ms ease-in-out;
	margin-top: 1rem !important;
}

.hero-overlay {
  position: relative;
  background-blend-mode: normal;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(255,0,86,0.7); //Adjust the opacity of the color by changing the last value
  }
}

.hero-gradient {
  &:after {
     background: linear-gradient(rgba(255,0,86,0) 0%, rgba(255,0,86,0.97) 100%);
  }
}