.resume__separator {
    border-bottom: 2px solid $secondary-color;
}

.resume__desc {
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 0.75rem 0 1rem 0;

    @include breakpoint(medium) {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

.resume__label {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: $abril;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 1rem;

    @include breakpoint(medium) {
        margin-top: 2rem;
    }
}

.resume__item {
    margin: 1.5rem 0;

    @include breakpoint(medium) {
        margin: 2rem 0;
    }
}

.resume__item-headline {
    font-family: $open-sans;
    font-size: 1.25rem;
    color: $charcoal;
    margin-bottom: 0.25rem;
    margin-top: 0rem;

    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
}

.resume__item-date {
    color: $grey;
    font-style: italic;
}

.resume__item-list {
    padding-left: 0.85rem;

    li {
        line-height: 1.6;
        font-size: 1.1rem;
        font-family: $open-sans;
    }
}

.resume__item-detail {
    font-size: 1.15rem;
    font-weight: 600;
    font-family: $open-sans;
    margin: 1rem 0 0;
    display: inline-block;
}

.resume__detail-list {
    line-height: 1.6;
    font-size: 1.1rem;
}