.section {
	padding-bottom: 3rem;
}

.page {
	padding: 3rem 0;
}

.subscribe-form {
	background-color: #eee;
}

/*.mc-field-group {
	width: 50% !important;
	display: inline-block !important;
}

.clear {
	display: inline-block !important;
}*/