<footer class="footer">
    <div class="footer__text">Get in Touch! </div>
    <div>
        <a href="https://github.com/j-baconator" target="_blank" class="footer__link">
            <span class="fab fa-github fa-lg footer__icon"></span>
        </a>
        <a href="https://www.linkedin.com/in/baconjulie/" target="_blank" class="footer__link">
            <span class="fab fa-linkedin fa-lg footer__icon"></span>
        </a>
        <a href="https://twitter.com/juliebaconator" target="_blank" class="footer__link">
            <span class="fab fa-twitter fa-lg footer__icon"></span>
        </a>
        <a href="mailto:julieebacon@gmail.com" class="footer__link">
            <span class="far fa-envelope fa-lg footer__icon"></span>
        </a>
    </div>
</footer>
