<footer class="footer">
    <div>
        <a href="/" class="nav__logo">
            <img src="/assets/img/pop_logo.png" alt="Pinch of Pixels Logo" class="nav__logo-img">
        </a>
    </div>
    <div class="footer__text">Get in Touch</div>
    <div>
        <a href="https://github.com/j-baconator" target="_blank" class="footer__link">
            <span class="fab fa-github fa-lg footer__icon"></span>
            <span class="show-for-sr">Github</span>
        </a>
        <a href="https://www.linkedin.com/in/baconjulie/" target="_blank" class="footer__link">
            <span class="fab fa-linkedin fa-lg footer__icon"></span>
            <span class="show-for-sr">LinkedIn</span>
        </a>
        <a href="https://twitter.com/juliebaconator" target="_blank" class="footer__link">
            <span class="fab fa-twitter fa-lg footer__icon"></span>
            <span class="show-for-sr">Twitter</span>
        </a>
        <a href="mailto:juliebacon.tech@gmail.com" class="footer__link">
            <span class="far fa-envelope fa-lg footer__icon"></span>
            <span class="show-for-sr">Email</span>
        </a>
    </div>
</footer>
