<header class="nav">
    <div>
        <a href="/" class="nav__logo">
            <img src="/assets/img/technista.png" alt="Technista Logo" class="nav__logo-img">
        </a>
    </div>

    <ul class="nav__items">
        <li class="nav__link {% if page.active == 'blog' %}nav__link--active{% endif %}">
            <a href="/">Blog</a>
        </li>
        <li class="nav__link {% if page.active == 'about' %}nav__link--active{% endif %}">
            <a href="/about">About</a>
        </li>
        <li class="nav__link {% if page.active == 'work' %}nav__link--active{% endif %}">
            <a href="/work">Work</a>
        </li>
        <li class="nav__link {% if page.active == 'resume' %}nav__link--active{% endif %}">
            <a href="/resume">Resume</a>
        </li>
    </ul>
</header>
